<h1>Les cocktails</h1>

<div class="container">
  <div class="row">

  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <h2><%= cocktail.name %></h2>
      <%= link_to "delete", cocktail_path(cocktail), method: :delete, class: 'btn btn-danger' %>
      <%= link_to "details", cocktail_path(cocktail), class: "btn btn-info" %>
    </div>
  <% end %>
  </div>
</div>



<!-- scraping :
require 'open-uri'
require 'nokogiri'

ingredient = "chocolate"

html_file = open("http://www.epicurious.com/tools/searchresults?search=#{ingredient}")
html_doc = Nokogiri::HTML(html_file)

html_doc.search('.recipeLnk').each do |element|
  puts element.text
  puts element.attribute('href')
end
 -->
